body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 90%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    max-width: 1200px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
}

.status-confirmed {
    color: green;
}

.status-pending {
    color: red;
}

.summary {
    margin: 20px 0;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.report {
    display: none;
    margin: 20px 0;
}

.report h2 {
    text-align: center;
}

.report table {
    margin: auto;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.report th, .report td {
    padding: 10px;
    border: 1px solid #ddd;
}

.report .status-confirmed {
    color: green;
}

.report .status-pending {
    color: red;
}
/* Responsividade da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
}

/* Responsividade dos botões */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Ocupa toda a largura em telas pequenas */
}

button:hover {
    background-color: #0056b3;
}

/* Estilização específica para mobile */
@media (max-width: 768px) {
    th, td {
        font-size: 14px;
        padding: 10px;
    }

    table {
        font-size: 14px;
        width: 100%;
    }

    button {
        font-size: 14px;
        padding: 12px;
    }
    .container {
        max-width: 100%;
        padding: 14px;

    }
}